
<div class="container-principal">
  <p style="text-align: center;">
    Este contenido pertenece al componente principal <strong>app.component.ts</strong>
  </p>
  <h1 class="centrado title-principal">Curso de Angular & .Net Core</h1>
  <h2>{{title}}</h2>

  <p>
    Temas a tratar:
  </p>
  <p>
    - Crear varios componentes dentro de un mismo módulo. <br>
    - Crear directorios y subdirectorios dentro de un componente. <br>
    - Se reforsó el tema de interfaces. <br>
    - Archivos exportables e importación de los mismos. <br>
    - Directivas ng For, ng template, ng If...
  </p> 
  
</div>

<app-empleado></app-empleado>



