
<div class="container-principal">
  <p style="text-align: center;">
    Este contenido pertenece al componente principal <strong>app.component.ts</strong>
  </p>
  <h1 class="centrado title-principal">Curso de Angular & .Net Core</h1>
  <h2>{{title}}</h2>

  <h3>Temas a vistos</h3>
  <h4>1. Crear varios componentes dentro de un mismo módulo.</h4>
  <p>

  </p>
  <h4>2. Crear directorios y subdirectorios dentro de un componente.</h4>
  <p>

  </p>
  <h4>3. Se reforsó el tema de interfaces.</h4>
  <p>

  </p>
  <h4>4. Archivos exportables e importación de los mismos.</h4>
  <p>

  </p>
  <h4>5. Directivas ng For, ng template, ng If...</h4>
  <p>

  </p>
  <h4>6. Componente con dos listas distintas en dos llamadas diferentes.</h4>
  <p>

  </p>
  <h4>7. Creación de módulos</h4>
  <p>
    Es preferible separar en módulos la aplicación. Los módulos permiten dividir el proyecto en secciones. Estas secciones deben ser de aspectos importantes del sistema, como por ejemplo, un módulo para empleados, otro para clientes, otro para productos, etc. <br>El principal objetivo es encapsular varios componentes y ayudar tambien con el <strong>lazy loading o carga peresoza</strong>; esto permite que solo se cargue la información que está dentro del módulo.
  </p> 
  <h5>Pasos para creación de módulos</h5>
  <p>
    Vamos a la consola y ejecutamos el siguiente comando: <strong>ng generate module nombre_modulo</strong>, la forma corta sería: <strong>ng g m nombre_modulo</strong>. Se acostumbra que el nombre del módulo sea el de un directorio raiz ya creado para que no se cree a nivel del directorio principal del proyecto. 
  </p>
  
</div>

<app-empleado></app-empleado>



